<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{param['sitename']}}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/edit.css')}}">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/clean-blog.min.css') }}" rel="stylesheet">
</head>
<body>
<!-- form starts here -->
<div class="text-center" style="padding:50px;padding-bottom: 50px;background-color:gray">
  <div class="logo"><b><font color="white">Post the blog</font></b></div>
  <!-- Main Form -->
  <div class="login-form-1">
    <form id="login-form" class="text-left" enctype="multipart/form-data" action="/add" method="post">
      <div class="main-login-form" style=" width: 40vw">
        <div class="login-group">
          <div class="form-group">
            <label for="lg_username" class="">Title</label>
            <input type="text" class="form-control" id="lg_username" name="title" required>
          </div>
          <div class="form-group">
            <label for="lg_password" class="">Slug</label>
            <input type="text" class="form-control" id="lg_password" name="slug" required>
          </div>
          <div class="form-group">
            <label for="lg_password" class="">Author</label>
            <input type="text" class="form-control" id="lg_password" name="author" required>
          </div>
          <div class="form-group">
            <label for="lg_password" class="">Contents</label>
            <textarea rows="5" class="form-control" name="contents" id="message"></textarea>
          </div>
          <div class="form-group">
            <label for="lg_password" class="">Imgfile</label>
            <input type="file" class="form-control" id="lg_password" name="imgfile">
          </div>
        </div>
      </div>
      <div style="margin-top: 10px">
      <a href='/dashboard' class="btn btn-danger" style="margin-right: 13px">Back</a>
      <input type="submit" class="btn btn-info" value="Post">
    </div>
    </form>

  </div>
  <!-- end:Main Form -->
</div>
<!--form ends here-->
<hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="{{param['twit']}}" target="-blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{param['fb']}}" target="-blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{param['git']}}" target="-blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; {{param['sitename']}} 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }} "></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }} "></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/edit.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='js/clean-blog.min.js') }} "></script>

</body>
</html>