{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url( '{{ url_for('static',filename=post.imgfile) }}' );background-size:cover;height:90vh">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading"></h2>
            <span class="meta">Posted by :
              <a href="#">{{post.author}}</a><br><br>
              Date :{{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{post.contents}}

            
          </div>
        </div>
      </div>
    </article>
  
{% endblock %}